:root {
  /* Основной цвет */
  --text-color: #757575;
  /* Цвет фона */
  --background-color: #f5f4fa;
  --footer-bcg: #2f303a;
  /* Цвет заголовков */
  --title-color: #212121;
  /* Цвет логотипа */
  --logo-color: #000000;
  /* Цвет ховера */
  --hover-color: #188ce8;
  /* Цвет рамки хедера */
  --header-border-color: #757575;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex-container {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Header */

.logo {
  color: var(--logo-color);

  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
}
.menu {
  margin-left: auto;
}

.menu-link {
  text-decoration: none;
  color: inherit;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--header-color);

  font-weight: 500;
  line-height: 1.43;
}

.menu-item:not(:last-child) {
  margin-right: 80px;
}

.menu-item .menu-link.current {
  color: var(--hover-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--hover-color);
}

.header {
  border-bottom: solid 2px var(--header-border-color);
}

/* Main */
.title,
.sub-title {
  margin-bottom: 50px;
  color: var(--title-color);

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.sub-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.19;
}

.skils-list {
  text-align: center;
}

.section .flex-container {
  align-items: flex-start;
}
.about-me {
  width: 700px;
}

.about-me-item:not(:last-child) {
  margin-bottom: 20px;
}

.main-text {
  margin-left: auto;
  margin-right: auto;
}
/* Footer */
.footer {
  background-color: var(--footer-bcg);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
